.landing-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -16%;
  padding-top: 320px; 
  height: calc(100vh - 0.2%); /* Adjust the height based on your needs */
  overflow-y: auto;
}

.doctor-image {
  max-width: 350px;
  margin-right: -8em;
  height: 52%;
}

.patient-image {
  max-width: 350px;
  margin-left: -8em;
}

.landing-register-button {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  margin: 2em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.landing-register-button-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.landing-register-button-secondary {
  background-color: transparent;
  color: #007bff;
  border: 2px solid #007bff;
}

.landing-register-button:hover {
  background-color: #007bff;
  color: #ffffff;
}

.landing-register-button-primary:hover {
  transform: translateY(-2px);
}

.landing-register-button-secondary:hover {
  transform: scale(1.05);
}

/* Media Queries */
@media (max-width: 768px) {
  .landing-register-container {
    flex-direction: column;
    padding-top: 0px;
  }

  .doctor-image,
  .patient-image {
    margin: 0 auto;
  }

  .doctor-image {
   
    margin-bottom: 3%;
    margin-right: 0;
  }

  .patient-image {
  
    margin-bottom: 5%;
    margin-left: 0;
  }

  .landing-register-button {
    margin: 1em;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
.landing-register-container {
    margin-top: 0px;
    padding-top: 50px;
}
}
