.patient-ohm{
  padding-top: 120px; /* Increase or decrease the padding to create more or less space below the navbar */
  min-height: calc(100vh - 60px); /* Adjust the height based on your needs */
  overflow-y: auto;
}
.patient-register-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  /* background-color: #f2f2f2; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.patient-blue-img{
  /* background-image: url('../images/medical-blue.jpg'); */
  flex: 1;
  height: calc(120vh - 50px); 
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  width: 100%;
  filter: brightness(90%);
  background-color: transparent;
  top: 70px;
  z-index: 0; 
}

.patient-register-container h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.form-group-patient {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

.form-group-patient label {
  display: none;
}

.form-group-patient input,
.form-group-patient select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  background-color: #f2f2f2; /* Set the background color here */
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.form-group-patient input::placeholder,
.form-group-patient select::placeholder {
  color: #6b7280;
}

.form-group-patient input:not(:placeholder-shown) + label,
.form-group-patient select:not(:placeholder-shown) + label {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-weight: bold;
  pointer-events: none;
  transition: all 0.2s ease;
  background-color: #f2f2f2;
  padding: 0 5px;
}

.form-group-patient input:not(:placeholder-shown) + label,
.form-group-patient select:not(:placeholder-shown) + label,
.form-group-patient input:focus + label,
.form-group-patient select:focus + label {
  top: 0;
  transform: translateY(-100%);
  font-size: 12px;
  font-weight: normal;
  color: #6b7280;
}

.form-group-patient select {
  height: 36px;
}

.button-container-patient {
  width: 100%;
}

.button-container-patient button[type="button"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-container-patient button[type="button"]:hover {
  background-color: #0056b3;
}
@media (max-width: 768px) {
  .patient-ohm {
    padding-top: 40px; /* Adjust the padding for smaller devices */
  }
}
/* Media Queries */
@media (min-width: 768px) {
  .form-group-patient {
    width: calc(50% - 10px);
  }
}

/* Adjust the styles for smaller devices */
@media (max-width: 480px) {
  .form-group-patient {
    width: 100%;
  }
}